:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 1rem;
}

.toolbar {
  display: flex;
}

.toolbar__logo {
  flex-grow: 1;
}

.main-container {
  padding: 1rem;
}
