<ng-container *ngIf="currentUserId$ | async as currUserId">
  <h3>Parking lot: {{ parkingLot.name }}</h3>
  <ul class="details-list">
    <li class="details-list__item">
      <div>Status:</div>
      <div>{{ parkingLot.status }}</div>
    </li>
    <li class="details-list__item">
      <div>Booked by:</div>
      <div>{{ currUserId === parkingLot.userId ? 'You' : getBookedBy }}</div>
    </li>
  </ul>
  <div class="actions">
    <button
      class="actions__btn"
      mat-raised-button
      [disabled]="parkingLot.userId && parkingLot.userId !== currUserId"
      [color]="parkingLot.userId === currUserId ? 'warn' : 'primary'"
      (click)="onBookingToggle()"
    >
      {{ parkingLot.userId ? "Remove Booking" : "Book" }}
    </button>
  </div>
</ng-container>
