<ng-container *ngIf="parkingConfig$ | async as parkingConfig">
  <app-parking-view
    class="container"
    [parkingConfig]="parkingConfig"
    [parkingLots]="parkingLots$ | async"
    [(selectedParkingLot)]="selectedParkingLot"
  ></app-parking-view>
  <div class="parking-lot-desc-area">
    <app-parking-lot-desc
      *ngIf="selectedParkingLot"
      [parkingLot]="selectedParkingLot"
      (bookingToggle)="onBookingToggle()"
      class="container"
    ></app-parking-lot-desc>
  </div>
</ng-container>
