<ng-container *ngIf="parkingConfig$ | async as parkingConfig">
  <app-parking-view
    class="container"
    [parkingConfig]="parkingConfig"
    [parkingLots]="parkingLots$ | async"
    [selectedParkingLot]="selectedParkingLot$ | async"
    (selectedParkingLotChange)="onSelectedParkingLotChange($event)"
  ></app-parking-view>
  <div class="parking-lot-desc-area">
    <app-parking-lot-desc
      *ngIf="selectedParkingLot$ | async as lot"
      [parkingLot]="lot"
      (bookingToggle)="onBookingToggle($event)"
      class="container"
    ></app-parking-lot-desc>
  </div>
</ng-container>
